<div class="contact">
  <aside>
    <div class="contact-text">
      <h2>Do you have any questions?</h2>
      <p>Feel free to contact us.</p>
    </div>
    <ul class="contact-links">
      <li>
        <i class="fas fa-map-marker-alt"></i
        ><a href="https://goo.gl/maps/3FNZLQH5e7L5crMS9" target="_blank"
          >Ahu Tongariki, Easters Islands</a
        >
      </li>
      <li>
        <i class="fas fa-envelope-open"></i
        ><a href="mailto:info@madeup-mail.sk">info@madeup-mail.sk</a>
      </li>
      <li>
        <i class="fas fa-mobile"></i><a href="tel:0910 123 456">0911 123 456</a>
      </li>
    </ul>
  </aside>
  <footer>
    created by
    <a href="https://github.com/Jakub1888" target="_blank" rel="noopener"
      >Jakub Krasňan</a
    >
  </footer>
</div>
