<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <label for="username">Review Author</label>
  <input
    class="form-input"
    type="text"
    id="username"
    name="username"
    ngModel
    required
  />

  <label for="reviewText">Review text</label>
  <textarea
    class="form-input"
    type="text"
    id="text"
    name="text"
    ngModel
    required
  ></textarea>

  <label for="reviewBook">Select a book to review</label>
  <select class="form-input" name="book" ngModel>
    <option *ngFor="let book of books">
      {{ book.title }}
    </option>
  </select>

  <label for="reviewRating">How would you rate this book?</label>
  <select class="form-input" name="rating" ngModel>
    <option *ngFor="let rating of ratings">
      {{ rating }}
    </option>
  </select>

  <button type="submit" [disabled]="!f.valid" class="button">Add Review</button>
  <button type="button" (click)="onClear()">Clear</button>
</form>
