<div *ngIf="book">
  <h2>{{ book.title }}</h2>

  <div class="detail-content">
    <img [src]="book.img" />
    <div class="description-text">
      <p>Author: {{ book.author }}</p>
      <p>Year of publishing: {{ book.year | date: "yyyy-MM-dd" }}</p>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>Book description:</h3>
          </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <p>{{ book.description }}</p>
        </ng-template>
      </mat-expansion-panel>
      <app-review-add></app-review-add>
    </div>
  </div>
</div>
