td {
  display: flex;
}

.book-details {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.image-wrap {
  display: flex;
  align-items: center;
  margin-left: auto;
}

img {
  margin: 1em;
  height: 15em;
  width: 10em;
  border-radius: 0.2em;
  border: 3px solid rgb(201, 192, 192);
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  td {
    flex-direction: column-reverse;
  }

  .image-wrap {
    justify-content: center;
    margin-left: 0;
  }
}
